doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Maciej Harbuz')

        title Resume - Maciej Harbuz

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://kit.fontawesome.com/309e044cd8.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-light.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Maciej Harbuz
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/avatar_real.png', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects                        
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certs') Certs

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-5
                        | Maciej 
                        span.text-primary Harbuz
                    p.lead.mb-5
                        | As an eCommerce and PHP development professional with over 11 years of experience, I have a deep understanding of the technical intricacies of building and maintaining large-scale eCommerce systems. I am passionate about leveraging the latest technologies to create innovative solutions that deliver attracting customer experience while driving revenue growth.
                    p.mb-5
                        | If you're looking for an experienced eCommerce and PHP development professional who is passionate about driving innovation and growth, I would love to connect with you. Let's discuss how I can help your organization achieve its technology goals and drive business success.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/maciej-harbuz/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/mharbuz', target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='mailto:maciej.harbuz@gmail.com', target='_blank')
                            i.fas.fa-envelope
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CTO
                            .subheading.mb-3 FLHF SA
                            p
                                | In my role as CTO at FLHF, I am responsible for overseeing the development and maintenance of a variety of systems, including B2C eCommerce (Magento2), B2B eCommerce (Solex), and a wide range of marketplace integrations (ManoMano, Home24, CDon, Allegro, Amazon, CDiscount, Conforama, eBay, Wayfair). Additionally, I oversee the ERP system (Verto), ensuring that it is fully integrated with our eCommerce platforms and that all data is flowing smoothly between systems.
                        .flex-shrink-0
                            span.text-primary January 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CTO, Co-founder
                            .subheading.mb-3 X-Coding IT Studio
                            p
                                | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                        .flex-shrink-0
                            span.text-primary December 2010 - December 2021

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Wrocław University of Technology
                            .subheading.mb-3 Master of Science
                            div Computer Science - Faculty of Fundamental Problems of Technology
                        .flex-shrink-0
                            span.text-primary October 2007 - June 2010

            hr.m-0

            //Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 O bag Polska
                            .subheading.mb-3 Magento2 | ERP integration | product configurator module
                            div O bag Polska is the exclusive distributor of the Italian brand O bag for Poland and Central Europe. A number of dedicated, unique solutions were implemented in the shop, led by a product configurator and integration with the company's ERP system. I joined the project team to stabilise the production environment and expand the capabilities of the product configurator to support new product sets. I also participated in the creation of a multistore dedicated to B2B sales.
                        .flex-shrink-0
                            span.text-primary March 2022 - November 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Asgard
                            .subheading.mb-3 Magento2 | Scandi PWA | personalization module
                            div Asgard is a direct importer and manufacturer of advertising gifts. They operates mainly in B2B sector and are main vendor of adverising gifts with personalization. During the development of the new Magento 2-based ecommerce, in addition to the standard B2B functionalities, we focused on the best possible product personaliser, which would simultaneously be transparent for customers, but also allow us to use 100% of the potential of Asgard's personalisation machinery. 
                        .flex-shrink-0
                            span.text-primary February 2021 - December 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Briju
                            .subheading.mb-3 2 months to MVP | Magento2 | ERP Integration
                            divBriju 1920 is a brand that possesses one of the largest jewelry retail chains in Poland. The primary difficulty that they faced was creating an online store that was fast, dependable, and contemporary, so as to keep up with the continually expanding e-commerce market. We understood that this needed to be accomplished as swiftly as feasible, with minimal disruption to the regular business activities.
                        .flex-shrink-0
                            span.text-primary November 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Komsa
                            .subheading.mb-3 B2B | Magento2 | Scandi PWA | ERP integration
                            div KOMSA Polska is an international leader in the distribution of ICT articles. The company is part of the German concern KOMSA AG, and on the Polish market it has been operating continuously since 1999. The biggest challenge in the project was the integration with the company's ERP system, which was achieved through close collaboration between the developers X-Coding IT Studio and Komsa in an agile mode. During the work, we also could not forget the requirements that the B2B sales market brings. The standard Magento2 functionalities available in Scandi PWA were extended to include mechanisms typical of B2B, such as subaccounts or the ability to import a shopping cart.
                        .flex-shrink-0
                            span.text-primary October 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Supon
                            .subheading.mb-3 Shoper
                            div Supon is a Wrocław-based brand involved in the supply of BPH and PPE items. As part of its digital transformation, it decided to launch an e-commerce platform in SaaS form. 
                                ul The implementation included: 
                                    li preparation of the Shoper platform configuration, 
                                    li installation of modules and a graphic template adapted to the characteristics of the industry,
                                    li cooperation with a company responsible for marketing the new shop,
                                    li migration of products from available sources used for offline sales. 
                        .flex-shrink-0
                            span.text-primary June 2020 - February 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Kratki
                            .subheading.mb-3 Magento2 | Scandi PWA | ERP Integration
                            div Kratki.pl is an e-commerce platform specialising in the sale of fireplace inserts, cookers and related accessories. The platform offers a wide range of products, as well as expert advice and installation services to ensure customers get the most out of their purchases. This project was the first to use Scandi PWA technology as a frontend. We decided to use react.js to ensure the best possible user experience.
                        .flex-shrink-0
                            span.text-primary February 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 FTG
                            .subheading.mb-3 Magento2 | ERP integration | product configurator module
                            div "Best brands in one place" is the motto of FTG Group. Fashion Trends Group was founded in 2007, initially focusing on the football industry and the YesSport brand. In 2015, the company introduced an innovative concept store called SneakerStudio, specializing in streetwear and urban fashion. In April 2019, SneakerStudio underwent a rebranding, focusing on interacting with the younger generation, local artists, and collaborating with musicians and sneaker enthusiasts. In May 2021, FTG opened a new store called SneakerStudioPRM, focusing on the most prestigious brands and limited collections to meet even more demanding customer needs. This is another step in the company's development. 
                        .flex-shrink-0
                            span.text-primary February 2020 - December 2021

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-magento(title='magneto')
                        li.list-inline-item
                            i.fab.fa-shopware(title='shopware')
                        li.list-inline-item
                            i.fab.fa-shopify(title='shopify')
                        li.list-inline-item
                            i.fab.fa-ebay(title='ebay')
                        li.list-inline-item
                            i.fab.fa-amazon(title='amazon')
                        li.list-inline-item
                            i.fab.fa-google(title='google')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fas.fa-database(title='database')
                        li.list-inline-item
                            i.fas.fa-server(title='server')
                        li.list-inline-item
                            i.fab.fa-aws(title='aws')
                        li.list-inline-item
                            i.fab.fa-docker(title='docker')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5(title='html5')
                        li.list-inline-item
                            i.fab.fa-css3-alt(title='css3')
                        li.list-inline-item
                            i.fab.fa-js-square(title='js')
                        li.list-inline-item
                            i.fab.fa-react(title='react')
                        li.list-inline-item
                            i.fab.fa-sass(title='sass')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fa.fa-diagram-project(title='analysis')
                        li.list-inline-item
                            i.fab.fa-jira(title='jira')
                        li.list-inline-item
                            i.fa.fa-file-lines(title='documentation')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-php(title='php')
                        li.list-inline-item
                            i.fab.fa-python(title='python')
                        li.list-inline-item
                            i.fab.fa-java(title='groovy')
                        li.list-inline-item
                            i.fab.fa-android(title='android')

            hr.m-0

            // Interest
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Outside of work, I am an avid stock investor and enjoy staying up-to-date on the latest market trends. I also love staying active and can often be found running or hitting the gym for a workout. 
                    p.mb-5
                        | In my spare time I like to play a game of chess 
                        i.fas.fa-chess 
                        As a combination of my passion for programming and chess, I also try to explore chess engines supported by the Deep Convolutional Networks.
                    p.mb-0
                        | (yes, this page was created with support of AI 😉 )
            hr.m-0

            // Certs
            section#certs.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Comarch ERP XL - Technical, Production, BI, HR, Finance
                        li.mb-1
                            span.fa-li
                                i.fa.fa-certificate.text-primary
                            | Machine Learning for Business Professionals - Google Certification
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Scrum | Scrum Developer | Product Owner Open - Scrum.org
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | CAPM - Certified Associate in Project Management - Project Management Institute
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | PRINCE2 Foundation
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Google Ads: Fundamentals, Shopping, Search, Mobile - Google Certification
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary 
                            | Analytics - Google

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')