doctype html
html(lang='en')

    head

        // Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NKX244J');
        // End Google Tag Manager

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Maciej Harbuz')

        title Resume - Maciej Harbuz

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://kit.fontawesome.com/309e044cd8.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NKX244J" height="0" width="0" style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-light.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Maciej Harbuz
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/avatar_real.png', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certs') Certs

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-5
                        | Maciej
                        span.text-primary Harbuz
                    p.lead.mb-5
                        | As a technology leader with over 11 years of experience in e-commerce and development, I specialize in designing and overseeing complex, scalable platforms that enable business growth. My experience includes technical architecture, team leadership, and strategic decision-making related to creating high-performance engineering cultures. I am passionate about translating ambitious business goals into robust technology solutions, working closely with stakeholders to solve challenges, optimize processes, and accelerate digital transformation.
                    p.mb-5
                        | If your organization is looking for a solutions architect, chief technology officer, or technical manager who combines deep technical knowledge with an understanding of domain and business aspects, please contact me.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/maciej-harbuz/', target='_blank')
                            i.fab.fa-linkedin-in(title='LinkedIN')
                        a.social-icon(href='https://github.com/mharbuz', target='_blank')
                            i.fab.fa-github(title='GitHub')
                        a.social-icon(href='https://www.youtube.com/channel/UCQ5xmr-0o3Fn-IgDuf-TPjw', target='_blank')
                            i.fas.fa-brands.fa-youtube(title='YouTube channel - CuriosITy')
                        a.social-icon(href='mailto:maciej.harbuz@gmail.com', target='_blank')
                            i.fas.fa-envelope(title='e-mail')
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Solution Architect
                            .subheading.mb-3 The Right Staff
                            p
                                | As a Solution Architect, I am responsible for designing and implementing IT solutions for our clients. My role involves working closely with clients to understand their business needs and translating those needs into technical requirements within existing infrastructure or creating new environments.
                        .flex-shrink-0
                            span.text-primary December 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CTO
                            .subheading.mb-3 FLHF SA
                            p In my role as CTO at FLHF, I am responsible for overseeing the development and maintenance of a variety of systems, including B2C eCommerce (Magento 2), B2B eCommerce (Solex), and a wide range of marketplace integrations (ManoMano, Home24, CDon, Allegro, Amazon, CDiscount, Conforama, eBay, Wayfair). Additionally, I oversee the ERP system (Verto), ensuring that it is fully integrated with our eCommerce platforms and that all data is flowing smoothly between systems.
                        .flex-shrink-0
                            span.text-primary January 2022 - February 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 PHP/Symfony Programmer
                            .subheading.mb-3 WiseB2B
                            p
                                | We carry out the web shop project in PHP technology in a team of several people. During the implementation of subsequent functionalities, we try to stick to the DDD concept proposed by Eric Evans. In addition to the implementation of new functionalities, my task is to take care of the implementation of the project at the end client. I am also often tasked with optimising project performance.
                        .flex-shrink-0
                            span.text-primary May 2023 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CTO, Co-founder
                            .subheading.mb-3 X-Coding IT Studio
                            p
                                | I was involved in software development, mainly in the area of eCommerce/mCommerce. I managed more than 30 people during this time. In addition to this, my responsibilities include legal, accounting and finance.
                        .flex-shrink-0
                            span.text-primary December 2010 - December 2021

            hr.m-0

            //Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 TRS / Saudi Awwal Bank (HSBC part)
                            .subheading.mb-3 Java | Google Anthos | next.js
                            div
                                | Led the development of a comprehensive One Stop Shop system for Saudi Awwal Bank, enabling customers to access all banking services through a single unified platform. The solution integrates multiple banking services, including account management, investments, and transactions, while ensuring robust security measures and compliance with banking regulations. Implemented using Java microservices architecture on Google Anthos for scalability and reliability, with a modern next.js frontend for an enhanced user experience.
                        .flex-shrink-0
                            span.text-primary December 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Mewa
                            .subheading.mb-3 Magento 2 | Multisite | ERP Integration
                            div
                                | Mewa, a creator of 5 distinct brands, crafts their products with passion and precision. Their products are manufactured using the highest quality viscose silk of natural origin, trademarked as Vistex®. The project involved developing a Magento 2 multisite platform to serve e-commerce experience for every brand. The implementation included seamless integration with their ERP system for real-time inventory management, automated order processing, and customer-specific pricing across all sites.
                        .flex-shrink-0
                            span.text-primary December 2024 - May 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 FLHF / Akeneo PIM
                            .subheading.mb-3 Akeneo
                            div
                                | One of the ongoing projects in FLHF was the maintenance of Akeneo PIM for the entire organisation. As part of the project, we carried out the following work:
                            ul.mb-0
                                li Implementation of Akeneo PIM
                                li Design of data structures in Akeneo taking into account current products and future implementations, current sales channels and planned implementations of further sales channels
                                li cooperation with the purchasing department to transfer current data to the PIM
                                li post-implementation training for the purchasing department
                                li integration of Akeneo PIM with Magento2 li restilo.pl, including configurable and simple products
                                li adaptation of Magento2 integration to FLHF requirements, e.g. acceleration of product synchronisation, support for manually generated and created names
                                li coordination of work on the integration of Akeneo PIM and the B2B platform (B2B implementation was handled by an external company)
                                li Akeneo PIM upgrades to newer versions (5.0 => 6.0 => 7.0)
                                li Modules to extend the capabilities of Akeneo PIM
                                    ul.mb-0
                                        li Automatic model creation based on variants
                                        li Data synchronisation with data sources from selected suppliers
                                        li Image exporter from Akeneo PIM to file server available to sales staff
                                        li Image importer for the graphics department to improve the process of updating and uploading new product images with automatic image cropping
                                        li Export of videos to YouTube channel (in progress)
                                        li Blocking change of assigned product ID
                                        li improved product exporter to control columns in the product export
                        .flex-shrink-0
                            span.text-primary December 2024 - May 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 O bag Polska
                            .subheading.mb-3 Magento 2 | ERP integration | product configurator module
                            div O bag Polska is the exclusive distributor of the Italian brand O bag for Poland and Central Europe. A number of dedicated, unique solutions were implemented in the shop, led by a product configurator and integration with the company's ERP system. I joined the project team to stabilise the production environment and expand the capabilities of the product configurator to support new product sets. I also participated in the creation of a multistore dedicated to B2B sales.
                        .flex-shrink-0
                            span.text-primary March 2022 - November 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Nethansa
                            .subheading.mb-3 Symfony | REST API HATEOAS | Requirements gathering
                            div In the project, I was the person responsible for gathering requirements and designing the architecture of the system, which was to be the link between the existing system offered by Nethansa and external systems. The purpose of the system was to standardise the information collected from external systems for the Nethansa platform, to enable a more secure extension of the range of integrated systems without interfering with the core domain of the company. Unfortunately, before the prototyping phase, the project was put on hold and did not see a continuation before my departure from X-Coding IT Studio.
                        .flex-shrink-0
                            span.text-primary June 2021 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Asgard
                            .subheading.mb-3 Magento 2 | Scandi PWA | personalization module
                            div Asgard is a direct importer and manufacturer of advertising gifts. They operates mainly in B2B sector and are main vendor of adverising gifts with personalization. During the development of the new Magento 2-based ecommerce, in addition to the standard B2B functionalities, we focused on the best possible product personaliser, which would simultaneously be transparent for customers, but also allow us to use 100% of the potential of Asgard's personalisation machinery.
                        .flex-shrink-0
                            span.text-primary February 2021 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Basco2
                            .subheading.mb-3 Akeneo PIM | Magento 2 | ERP Comarch XL
                            div
                                p
                                    | Akeneo <br/>
                                    | The project included the basic implementation of Akeneo PIM and the import of the ETIM catalogue (https://etim.org.pl/) into the structures available in PIM.
                                p
                                    | Magento 2 <br/>
                                    | The biggest challenge during the implementation of the Magento2-based e-commerce platform was to reflect all promotions defined in the ERP Comarch XL. The investor wanted to keep all the possibilities of defining promotions offered by the ERP and reflect them 100% on the e-commerce platform in real time

                        .flex-shrink-0
                            span.text-primary November 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Briju
                            .subheading.mb-3 2 months to MVP | Magento 2 | ERP Integration
                            divBriju 1920 is a brand that possesses one of the largest jewelry retail chains in Poland. The primary difficulty that they faced was creating an online store that was fast, dependable, and contemporary, so as to keep up with the continually expanding e-commerce market. We understood that this needed to be accomplished as swiftly as feasible, with minimal disruption to the regular business activities.
                        .flex-shrink-0
                            span.text-primary November 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Komsa
                            .subheading.mb-3 B2B | Magento 2 | Scandi PWA | ERP integration
                            div KOMSA Polska is an international leader in the distribution of ICT articles. The company is part of the German concern KOMSA AG, and on the Polish market it has been operating continuously since 1999. The biggest challenge in the project was the integration with the company's ERP system, which was achieved through close collaboration between the developers X-Coding IT Studio and Komsa in an agile mode. During the work, we also could not forget the requirements that the B2B sales market brings. The standard Magento 2 functionalities available in Scandi PWA were extended to include mechanisms typical of B2B, such as subaccounts or the ability to import a shopping cart.
                        .flex-shrink-0
                            span.text-primary October 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Supon
                            .subheading.mb-3 Shoper
                            div Supon is a Wrocław-based brand involved in the supply of BPH and PPE items. As part of its digital transformation, it decided to launch an e-commerce platform in SaaS form.
                                ul The implementation included:
                                    li preparation of the Shoper platform configuration,
                                    li installation of modules and a graphic template adapted to the characteristics of the industry,
                                    li cooperation with a company responsible for marketing the new shop,
                                    li migration of products from available sources used for offline sales.
                        .flex-shrink-0
                            span.text-primary June 2020 - February 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Kratki
                            .subheading.mb-3 Magento 2 | Scandi PWA | ERP Integration
                            div Kratki.pl is an e-commerce platform specialising in the sale of fireplace inserts, cookers and related accessories. The platform offers a wide range of products, as well as expert advice and installation services to ensure customers get the most out of their purchases. This project was the first to use Scandi PWA technology as a frontend. We decided to use react.js to ensure the best possible user experience.
                        .flex-shrink-0
                            span.text-primary February 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 FTG
                            .subheading.mb-3 Magento 2 | ERP integration | ScandiPWA
                            div "Best brands in one place" is the motto of FTG Group. Fashion Trends Group was founded in 2007, initially focusing on the football industry and the YesSport brand. In 2015, the company introduced an innovative concept store called SneakerStudio, specializing in streetwear and urban fashion. In April 2019, SneakerStudio underwent a rebranding, focusing on interacting with the younger generation, local artists, and collaborating with musicians and sneaker enthusiasts. In May 2021, FTG opened a new store called SneakerStudioPRM, focusing on the most prestigious brands and limited collections to meet even more demanding customer needs. This is another step in the company's development.
                        .flex-shrink-0
                            span.text-primary February 2020 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 BodyFuel
                            .subheading.mb-3 SaaS | IdoSell
                            div The implementation of an e-commerce channel for BodyFuel was to expand its customer base from Galway city residents to the whole of Ireland. Since these were the company's first steps in e-commerce, we decided to implement based on SaaS IdoSell. This allowed us to reduce the time of the MVP phase of the project as much as possible and save funds for investment in marketing the new store. Thanks to the strong commitment of investors, a few months after the launch of the platform, online revenues surpassed those from the offline channel. The decision to go digital proved crucial to the events of early 2020 and allowed the BodyFuel brand to be maintained during the strictures
                        .flex-shrink-0
                            span.text-primary September 2019 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Roobeo
                            .subheading.mb-3 Akeneo PIM plugins
                            div As part of the project, I was given strict guidelines for existing or new Akeneo PIM modules to be implemented. I did not have the possibility to access data in the company by which the executed modules had to be created in accordance with Akeneo PIM, taking into account all available functionalities provided in the basic version of the platform.
                        .flex-shrink-0
                            span.text-primary May 2019 - April 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 MAC
                            .subheading.mb-3 Magento1 | Magento2 | ERP integration
                            div
                                | We worked with MAC during 2 projects. The first time as subcontractors in a project to implement an e-commerce platform based on Magento 1. We joined the project before the go live phase and later became the only developers to maintain the system and implement functionality outside the MVP phase. After few years, after the change of e-commerce director, MAC decided to change the e-commerce platform to IAI-Shop (current IdoSell). The change in technology resulted in the cooperation not being continued. After another few years, another change of e-commerce manager and in parallel with the ERP system being implemented into the company, it was decided to implement the new e-commerce platform again on Magento, this time in version 2. The simultaneous implementation of the ERP system, e-commerce system and integration was possible thanks to the full involvement of the IT director on the MAC side in both projects. He was the person who combined knowledge of the processes inside the company, their mapping in the newly created systems and the interrelationships of these systems. Integration of the systems included full synchronization of product information (enriched by marketing on the e-commerce platform), prices, inventories, contractors with individual terms of trade, orders, deliveries.
                        .flex-shrink-0
                            span.text-primary
                                | January 2019 - December 2021 <br/>
                                | November 2013 – February 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 RawPol
                            .subheading.mb-3 Symfony | Angular | Vue.js
                            div We were involved in 2 projects for RawPol. The first project was a dedicated building management system, which over time also received functionality for project management. The backend part of the system was an API made in Symfony. Angular was responsible for the frontend part. The second project was a mobile version of the rawpol.com system. Although it is an e-commerce platform, the number of dedicated solutions specific to the company was so high that we decided to build a solution from scratch, also based on the Symfony framework. Vue.js is responsible for the frontend part. The decision to implement a separate mobile version of the system was dictated by a number of factors, including the desire to provide two separate e-commerce systems that would constitute a single Single Point o Failure. The implemented solution is independent of the original desktop system so that customers have the ability to use e-commerce even in the event of problems that may occur on one of the systems.
                        .flex-shrink-0
                            span.text-primary April 2016 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Unisystem
                            .subheading.mb-3 Magento 1 | ERP integration (Comarch XL)
                            div Unisystem Sp. z o.o. is a very successful focused on deliver wide range of different display systems (including e-paper/e-ink displays). R&D team drives company to the highest level of quality and adaptability of offered products. E-Commerce project based on Magento engine with Comarch XL integration. We've implemented very customized one cart to few deliveries solution.
                        .flex-shrink-0
                            span.text-primary March 2016 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Witmax
                            .subheading.mb-3 Magento 1 | Magento 2 migration | ERP integration
                            div Witmax is a supplier of professional gym equipment and supplies, focusing largely on B2B customers. The store was integrated with the WF-MAG system in terms of inventory, basic product data. Orders were automatically transferred to the ERP system and current order processing statuses were downloaded. In 2020, the lockdown situation also significantly increased B2C sales, increasing the store's turnover several times. Over the years, there was a migration from Magento1 to the Magento2 platform and also a refresh of the store's appearance.
                        .flex-shrink-0
                            span.text-primary June 2015 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 DecoKing
                            .subheading.mb-3 Symfony | Android | WMS
                            div Advanced warehouse system with eBay, Amazon, Allegro and data collectors integration. Main area of DecoKing operation is trade of textiles on the Internet. At the initial stage of development, the company built its sales only on the Polish market, intensifying sales activities via Allegro channel. Experiences gathered this way on the domestic e-Commerce market has allowed for dynamic development and working out of better methods concerning the maximization of on-line sales. Currently, DecoKing company is one of the industry’s leaders with many years of experience on e-Commerce market. It sells its products not only in Poland, but also conducts intensive expansion to western markets, primarily Germany. The acquired experience has allowed for quick implementation of the optimal sales model. Along with the company’s development, it quickly turned out that volume of orders, as well as expectations of our western customers in relation to quality of service, required the improvement of order handling process in the company.
                        .flex-shrink-0
                            span.text-primary May 2013 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Poczta Kwiatowa
                            .subheading.mb-3 Magento 1 | Interflora integration | advanced delivery calendar | multi vendor
                            div Poczta Kwiatowa was the pioneer of selling flowers through the e-Commerce channel. Now, they are absolute leaders of such service in Poland. The Poczta Kwiatowa® brand is widely recognized amongst polish customers. It’s not really a big surprise – when it comes to sending flowers, time matters. And Poczta Kwiatowa delivers their product in even less than 4 hours. Besides local delivery, company also offers international shipping to over 150 countries. Today, Poczta Kwiatowa determines new floristic trends in Poland. The company was awarded for their services many times. Not only by the customers for their quality, but also by professional e-Commerce organizations.
                        .flex-shrink-0
                            span.text-primary June 2015 - February 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 RGB Automatyka
                            .subheading.mb-3 Magento 1
                            div The mission of RGB Elektronika is to "reduce downtime in industry worldwide through express repair, spare parts delivery and industrial electronics design." As part of the implementation, a dedicated graphic template has been prepared, tailored to the sale of various forms of one product: new, used, repair. Due to the wide range of offered products and the importance of their industrial parameters, support for generating attractive product descriptions from product attributes and predefined templates has been added.
                        .flex-shrink-0
                            span.text-primary March 2014 - December 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 4online.pl
                            .subheading.mb-3 Magento 1
                            div 4onLINE specialize in refurbished laptops and PC sale. It was e-commerce project based on Magento.
                        .flex-shrink-0
                            span.text-primary October 2015 - April 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Elmark Automatyka
                            .subheading.mb-3 Magento 1 | multistore | ERP integration | Magento 2 migration analysis
                            div ELMARK Automatyka is one of the leading distributors of the industrial automatic equipment in Poland. Thanks to over 30 years of experience, their customers may count not only on the professional customer service, but also certified experts advisory - during and after the purchase. Focusing on the quality of company’s services and innovative approach is what makes ELMARK Automatyka so special among other companies. Today, with over 19  000 delivered orders in 2015 and €15 000 000 revenue, the company constantly grows within the industrial automatic market, extending their offer to meet nowadays challenges Rugged focuses on mobile solutions, especially for industry, military and uniformed services, where the equipment has to be resistant to the challenging conditions. We’re talking about electronics, that meets the standards such as MIL-STD-810G, ATEX, Anti Fog or Anti-Fungus. Currently Rugged offers products from the leading manufacturers: Getac, Durabook and RuggON.
                        .flex-shrink-0
                            span.text-primary August 2015 - February 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Drukarnia Speed
                            .subheading.mb-3 Symfony | Magento 1
                            div Printing house netPACK has over 12 years of experience and belongs to the group of leaders in the printing industry. The company has an outstanding portfolio of works performed for customers from Poland and Western Europe, and special attention is due to the interest regarding their services exhibited by major players on the market. The quality of products, scope of services and dynamic development of the company have been many times awarded with prestigious titles (among others: Gazele Biznesu, Diamenty Forbes). Competitive advantage of the company consists of advanced machine facilities (devices of such brands as Canon or Heidelberg), which translate not only to quality of the print, but also to quickness of the order implementation. In combination with experienced production team, netPACK efficiently fulfils high requirements of the customers.
                        .flex-shrink-0
                            span.text-primary January 2013 - August 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 cabas.pl
                            .subheading.mb-3 Magento 1 | multi vendor
                            div CABAS.pl calls itself “big online market square”. It’s a place that connects local vendors offering their products from all over the country, as well as customers searching for regional culinary specialties. The project is a response to continuously growing market demand for regional food, produced by smaller producers in accordance with traditional recipes and using ingredients of the best quality, which is supposed to be an alternative to mass produced food products. This trend is strongly noticeable in the traditional sales – market stalls are currently experiencing their second youth, while more and more people also choose to shop in the local small stores, instead of supermarkets. CABAS.pl is the first website that brings local market stall sales to a larger scale, reaching out to customers from all over Poland, using e-Commerce and m-Commerce multi-channel sales. On the one hand, sellers may offer their products all over the country, and on the other hand, connoisseurs get a tool through which, they are able to satisfy their needs without leaving home
                        .flex-shrink-0
                            span.text-primary November 2013 - June 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                span(style='text-transform:none') mTIM
                            .subheading.mb-3 Android | iOS | SoapAPI | REST API
                            div
                                | Mobile apps for tim.pl eCommerce:
                                a(href='https://play.google.com/store/apps/details?id=pl.tim.mtim', target='_blank')
                                    i.fab.fa-android(title='android')
                                | and
                                a(href='http://polskieapps.pl/iphone-ipad/styl-%C5%BCycia/mtim-cxwwpcp.html', target='_blank')
                                    i.fab.fa-apple(title='iOS')
                                | .
                                | TIM S.A. is one of the largest distributors of electrotechnical goods in Poland. 25 years in the industry, including 17 years on the Warsaw Stock Exchange, is sufficient amount of time to gain priceless experience on the market. This company is also the winner of many prestigious awards, it received among others: Gazele Biznesu, Diament Forbes, etc. Technologies, innovation, mobility – these three words currently constitute the key to development of TIM S.A. This company was first on the market in this sector to provide its offer via Internet to business customers, as well as individual customers, without the need of prior registering or logging in. Investments in the on-line channel have resulted in opening, in summer 2013, high-end online store, fully adapted to the needs of recipients from the electrical power industry
                        .flex-shrink-0
                            span.text-primary November 2014 - January 2023

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Wrocław University of Technology
                            .subheading.mb-3 Master of Science
                            div Computer Science - Faculty of Fundamental Problems of Technology
                        .flex-shrink-0
                            span.text-primary October 2007 - June 2012

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-magento(title='magento')
                        li.list-inline-item
                            i.fab.fa-shopware(title='shopware')
                        li.list-inline-item
                            i.fab.fa-shopify(title='shopify')
                        li.list-inline-item
                            i.fab.fa-ebay(title='ebay')
                        li.list-inline-item
                            i.fab.fa-amazon(title='amazon')
                        li.list-inline-item
                            i.fab.fa-google(title='google')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fas.fa-database(title='database')
                        li.list-inline-item
                            i.fas.fa-server(title='server')
                        li.list-inline-item
                            i.fab.fa-aws(title='aws')
                        li.list-inline-item
                            i.fab.fa-docker(title='docker')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-php(title='php')
                        li.list-inline-item
                            i.fab.fa-symfony(title='symfony')
                        li.list-inline-item
                            i.fab.fa-python(title='python')
                        li.list-inline-item
                            i.fab.fa-java(title='groovy')
                        li.list-inline-item
                            i.fab.fa-android(title='android')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fa.fa-brands.fa-github(title='github')
                        li.list-inline-item
                            i.fa.fa-brands.fa-git-alt(title='git')
                        li.list-inline-item
                            i.fab.fa-jira(title='jira')
                        li.list-inline-item
                            i.fa.fa-file-lines(title='documentation')
                        li.list-inline-item
                            i.fa.fa-sitemap(title='analysis')
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5(title='html5')
                        li.list-inline-item
                            i.fab.fa-css3-alt(title='css3')
                        li.list-inline-item
                            i.fab.fa-js-square(title='js')
                        li.list-inline-item
                            i.fab.fa-react(title='react')
                        li.list-inline-item
                            i.fab.fa-sass(title='sass')
                    .subheading.mb-3 My (former) YouTube channel about Magento2 (PL)
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            a.social-icon(href='https://www.youtube.com/channel/UCQ5xmr-0o3Fn-IgDuf-TPjw', target='_blank')
                                i.fas.fa-brands.fa-youtube(title='CuriosITy')

            hr.m-0

            // Interest
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Outside of work, I am an avid stock investor and enjoy staying up-to-date on the latest market trends. I also love staying active and can often be found running or hitting the gym for a workout.
                    p.mb-5
                        | In my spare time I like to play a game of chess
                        i.fas.fa-chess
                        As a combination of my passion for programming and chess, I also try to explore chess engines supported by the Deep Convolutional Networks.
                    p.mb-0
                        | (yes, this page was created with support of AI 😉 )
            hr.m-0

            // Certs
            section#certs.resume-section
                .resume-section-content
                    h2.mb-5 Certifications & Trainings
                    ul.fa-ul.mb-0
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Droga Nowoczesnego Architekta <br/>
                            | Jakub Kubryński, Łukasz Szydło, Jakub Pilimon
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Legacy Fighter <br/>
                            | Mariusz Gil, Jakub Pilimon, Sławomir Sobótka
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Horyzont Lidera <br/>
                            | Marcin Dakowski, Jakub Kubryński
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Messaging Pragmatycznie <br/>
                            | Dariusz Pawlukiewicz, Michał Wilczyński
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Eventstorming <br/>
                            | Mariusz Gil
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Comarch ERP XL - Technical, Production, BI, HR, Finance
                        li.mb-1
                            span.fa-li
                                i.fa.fa-certificate.text-primary
                            | Machine Learning for Business Professionals - Google Certification
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Scrum | Scrum Developer | Product Owner Open - Scrum.org
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | CAPM - Certified Associate in Project Management - Project Management Institute
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | PRINCE2 Foundation
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Google Ads: Fundamentals, Shopping, Search, Mobile - Google Certification
                        li.mb-1
                            span.fa-li
                                i.fas.fa-certificate.text-primary
                            | Analytics - Google

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
